.filter1{
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 5px;

}
.filter{
    background-color: #001e4e;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: #fff;
    margin: 0px 5px;


}
.filter:hover{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px ;
}